<template>
<div class="__cov-progress" v-show="active" style="display:block;"> 
    <p class="mdl-spinner mdl-js-spinner mdl-spinner--single-color"
        v-bind:class="{ 'is-active':active }"/>
</div>

</template>
<script>

export default {
    name: "VueSpinner",
    computed : {
        active() {
            return window.progressEventBus.active;
        }
    }
}
</script>
<style>
.__cov-progress {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
    margin:auto;
    text-align:center;
}

.__cov-progress .mdl-spinner {
   margin: 0;
   position: absolute;               
   top: 50%;                         
   transform: translate(0, -50%)    
}
</style>
