<template>
<modal name="idea-guide"
    transition="scale"
    
    width="100%"
    height="100%"
    @opened="opened"
    @before-open="beforeOpen"
    @closed="closed" 
    style="display:flex;flex-flow:column;">
    <!-- Next and previous buttons -->
    <a class="prev" @click="prevSlide()">&#10094;</a>
    <a class="next" @click="nextSlide()">&#10095;</a>
    <div class="slideshow-container">
        <div class="mdl-card__menu mdl-color-text--white mdl-typography--body-2-color-contrast" style="z-index: 99">
            <button data-action="close" class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect" title="Close" @click="$modal.hide('idea-guide')">
                <i class="material-icons">close</i>
            </button>
        </div>
         
        <div class="mySlides fade" v-for="(page, index) in pages" v-bind:key="page.mediaUri">
            <div class="numbertext">{{index}} / {{pages.length}}</div>
            <pinch-image :src="pageUrl(page)" />
        </div>
    </div>
    
    <div class="display-bottommiddle">
        <carousel :navigateTo="slideIndex" :perPageCustom="[[400, 5],[600, 10]]" :spacePadding="2" :paginationEnabled="false" :navigationEnabled="true" style="min-width:200px;">
            <slide v-for="(page, index) in pages" v-bind:key="page.mediaUri">
                
                    <img :style="thumb( 79 * index)" @click="handleSlideClick(index)" />
                
            </slide>
        </carousel>
    </div>
    
</modal>
</template>
<script>

    import PinchImage from '@/components/common/PinchImage'
    let isShow = false;

    export default {
        name : "ideaGuideModal",
        components : {
            'pinch-image' : PinchImage
        },
        data : function() {
            return {
                id : null,
                title : "",
                slideIndex : -1,                
                pages : []
            }
        },
        
        watch: {
            slideIndex: function(){
                this.showSlides(this.slideIndex);
            }
        },
        
        methods : {
            beforeOpen (event) {
                let self = this;
                self.id = event.params.contentId;
                fetch(`/static/manual/${self.id}/pages.json`)
                    .then(r => r.json())
                    .then(json => {
                        self.pages = json
                        
                        console.log(self.pages);
                    })
                    
            },
            opened(event) {
                this.slideIndex = 0;
            },
            closed(event) {
                this.slideIndex = -1;
            },
            // Next/previous controls
            nextSlide: function() {
                if( this.slideIndex < this.pages.length )
                this.slideIndex++;
            },
            prevSlide: function() {
                if( this.slideIndex > 0 )
                    this.slideIndex--;
            },
            // Thumbnail image controls
            currentSlide: function(n) {
                this.slideIndex = n;
            },
            handleSlideClick : function(index) {
                this.slideIndex = index;
            },
            close : function() {
                this.$eventBus.$emit('close');
            },
            pageUrl(page){
                //debugger;
                let contentId = this.id;
                //let ext  = mime.extension(page.mediaType);
                return `/static/manual/${contentId}/${page.mediaUri}.jpeg`
            },
            thumb : function(i) {
                let contentId = this.id;
                let image =  `/static/manual/${contentId}/maual_sprite.jpeg`;
                return {
                    'background-image': `url(${image})`,
                    'background-repeat': 'no-repeat',
                    'background-size': 'cover',
                    'background-position': `0 -${i}px`,
                    'width': '79px',
                    'height': '79px'
                }
            },
            showSlides(n) {
                
                var slides = this.$el.getElementsByClassName("mySlides");
                
                if ( slides.length == 0 || n > slides.length || n < 0 ) {
                    return
                } 
                for (var i = 0; i < slides.length; i++) {
                    slides[i].style.display = "none"; 
                }
                slides[n].style.display = "block"; 
        
            }
        }

    }
    
</script>
<style>
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items:center;
  height: calc(100% - 80px);
  flex-basis: calc(100% - 80px);
}

/* Hide the images by default */
.mySlides {
    display: none;
    height:100%;
}


/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  z-index: 99;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  /*color: #f2f2f2;*/
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
  z-index:99;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.display-bottommiddle {
  width:100%;
  justify-content: center; 
  margin-top: 20px;
  display: -webkit-flex; /* Safari */
  display: flex;
  position: absolute;
  bottom : 0;
  
  background-color: #bbb;

  padding-left: 30px;
  padding-right: 30px;
}

</style>