<template></template>
<script>
export default {
    name: 'Auth',
    props : [
        'token',
        'refreshToken'
    ],
    created() {

        this.$store.commit('LOGIN', {token:this.token, refreshToken:this.refreshToken});
        this.$router.replace(this.$route.query.redirect || '/')
    }
}
</script>