<template>
<!--
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--4dp">
            <div class="mdl-card__title">
                <h2 class="mdl-card__title-text">Contact</h2>
            </div>
            <div class="mdl-card__media">
                <img class="article-image" src="images/contact-image.jpg" border="0" alt="">
            </div>
            <div class="login">
                <section class="mdl-cell mdl-cell--8-col" v-mdl>
                    <div class="col">
                        <a href="http://localhost:8090/user/login/facebook" class="fb btn">
                            <i class="fa fa-facebook fa-fw"></i> Login with Facebook
                        </a>
                        <a href="http://localhost:8090/user/login/naver" class="twitter btn">
                            <i class="fa fa-twitter fa-fw"></i> Login with Twitter
                        </a>
                        <a href="http://localhost:8090/user/login/google" class="google btn">
                            <i class="fa fa-google fa-fw"></i>Login with Google+
                        </a>    
                    </div>
                </section>
                <form @submit.prevent="login">
                <section class="mdl-cell mdl-cell--8-col" v-mdl>
                    <p>
                        Enim labore aliqua consequat ut quis ad occaecat aliquip incididunt. Sunt nulla eu enim irure enim nostrud aliqua consectetur ad consectetur sunt ullamco officia. Ex officia laborum et consequat duis.
                    </p>
                    <p>
                        Excepteur reprehenderit sint exercitation ipsum consequat qui sit id velit elit. Velit anim eiusmod labore sit amet.
                    </p>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input v-model="email" type="email" id="email" pattern="[A-Z,a-z, ]*" class="mdl-textfield__input" required autofocus>
                        <label class="mdl-textfield__label" for="email">Email...</label>
                        <span class="mdl-textfield__error">Letters and spaces only</span>
                    </div>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input v-model="password" type="password" id="password" class="mdl-textfield__input">
                        <label class="mdl-textfield__label" for="password">Password...</label>
                    </div>
                   
                    <p>
                        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" type="submit" v-mdl>
                            Submit
                        </button>
                    </p>
                </section>
                </form>
            </div>
        </div>   
    </div>

    -->

    		    <div class="mdl-grid">
		        <div class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--4dp">
		            <div class="mdl-card__title">
		                <h2 class="mdl-card__title-text">Contact</h2>
		            </div>
		            <div class="mdl-card__media">
		                <img class="article-image" src="images/contact-image.jpg" border="0" alt=""/>
		            </div>
		            <div class="login">
		                <section class="mdl-cell mdl-cell--8-col">
		                    <div class="col">
		                        <a href="http://localhost:8090/user/login/facebook" class="fb btn">
		                            <i class="fa fa-facebook fa-fw"></i> Login with Facebook
		                        </a>
		                        <a href="http://localhost:8090/user/login/naver" class="twitter btn">
		                            <i class="fa fa-twitter fa-fw"></i> Login with Twitter
		                        </a>
		                        <a href="http://localhost:8090/user/login/google" class="google btn">
		                            <i class="fa fa-google fa-fw"></i>Login with Google+
		                        </a>    
		                    </div>
		                </section>
		                
		            </div>
		        </div>   
		    </div>

</template>
<script>

</script>
<style>
    .login {
        align-self: center;
        display: flex;
        flex-flow: row wrap;
    }
    
    .login section {
        width:auto;
        display:flex;
        flex-direction:column;
        align-items: center;
    }
    
    .col {
        width: 50%;
        margin: auto;
        padding: 0 50px;
        margin-top: 6px;
        min-width: 300px;
    }
    
    input, .btn {
        width: 100%;
        padding: 12px;
        border: none;
        border-radius: 4px;
        margin: 5px 0;
        opacity: 0.85;
        display: inline-block;
        font-size: 17px;
        line-height: 20px;
        text-decoration: none;
    }
    
    .fa-fw {
        width: 1.28571429em;
        text-align: center;
    }
    .fa {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    .fb {
        background-color: #3B5998;
        color: white;
    }
    
    .twitter {
        background-color: #55ACEE;
        color: white;
    }
    .fa-twitter:before {
        content: "\f099";
    }
    .google {
        background-color: #dd4b39;
        color: white;
    }
    .fa-twitter:before {
        content: "\f099";
    }
    .fa-facebook-f:before,
    .fa-facebook:before {
        content: "\f09a";
    }
    .fa-google:before {
        content: "\f1a0";
    }

</style>