<template>
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--4dp">
            <div class="mdl-card__title">
                <h2 class="mdl-card__title-text">Sign-up</h2>
            </div>
            <div class="mdl-card__media">
                <img class="article-image" src="images/contact-image.jpg" border="0" alt="">
            </div>
            <div class="sign-up"><!-- flex-flow row wrap -->
                <div class="mdl-cell mdl-cell--6-col">
                    <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
                        <div class="mdl-tabs__tab-bar">
                            <a href="#picture-panel" class="mdl-tabs__tab is-active">Picture</a>
                            <a href="#camera-panel" class="mdl-tabs__tab">Camera</a>
                        </div>

                        <div class="mdl-tabs__panel is-active" id="picture-panel">
                            <div class="block">
                                <div class="col-sm-6 camera">
                                    <div class="row">
                                        <div id="userProfil">
                                            <video src="" width="100%" height="100%" id="myvideo" autoplay></video>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 picture">
                                    <div class="row">
                                        <div>
                                            <!-- 찍힌사진 img -->
                                            <canvas style="display:none;"></canvas>
                                            <img src="/asset/images/common/no-image.png" style="padding:25px 0px 25px 0px;" id="takenImg"/>
                                        </div>
                                    </div>
                                </div>
                            
                                <a href="javascript:void(0);" class="camera-shutter" id="takeBtn"><i class="fa fa-camera" aria-hidden="true"></i></a>
                            </div>
                        </div>
                        <div class="mdl-tabs__panel" id="camera-panel">
                            <ul>
                            <li>Tywin</li>
                            <li>Cersei</li>
                            <li>Jamie</li>
                            <li>Tyrion</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="mdl-cell mdl-cell--6-col">
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input type="email" id="email" pattern="[A-Z,a-z, ]*" class="mdl-textfield__input" required autofocus>
                        <label class="mdl-textfield__label" for="email">Email...</label>
                        <span class="mdl-textfield__error">Letters and spaces only</span>
                    </div>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input type="password" id="password" class="mdl-textfield__input">
                        <label class="mdl-textfield__label" for="password">Password...</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    name: 'SignUp'
}
</script>
<style>
.sign-up {
    display:flex;
    flex-flow: row wrap;
}
</style>