<template>
    <div>
        <h1>404</h1>
        <p>페이지를 찾을 수 없습니다.</p>
        <a href="/">Back to Home Page</a>
    </div>
</template>
<script>
export default {
    name: 'PageNotFound'
}
</script>