<template>
<!--div class="android-card-container mdl-grid" style="padding:0;"-->
<div v-masonry transition-duration="0.3s" item-selector=".item" style=""> 
    <div v-masonry-tile v-for="item in this.items" v-bind:key="item.id" class="item mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--2-col-phone mdl-card mdl-shadow--2dp">
        <div class="mdl-card__media">
            <img :src="imageUrl(item.content)" class="thumbnail" v-on:click="gotoIdea(item.content)"/>
        </div>
        <div class="mdl-cell">
            <div class="mdl-avatar">
                <img class="avatar" src="/static/user/1006.jpeg"/>
                <div class="avatar-title">
                    <span>hong</span><span>2일전</span>
                </div>
            </div>  
        </div>    
        <h6 class="mdl-card__title mdl-color-text--grey-700">title</h6>
        <div class="mdl-color-text--grey-700 mdl-card__supporting-text" style="width:100%;text-align:right;">
            <i class="material-icons md-20 red icons-pulse" role="presentation">favorite</i>425 
            <i class="material-icons md-20 md-dark icons-pulse" role="presentation">bookmarks</i>425 
        </div>
         
    </div>
</div>
</template>
<script>

export default {
    name : "ItemHGallery",
    props : ['items'],
    computed: {
        imageUrl() {
            return function(item) {
                return  `/static/manual/${item.id}/${item.mediaUri}_low.jpeg`;
            } 
        }
    },
    methods : {
        gotoIdea(item) {
                this.$router.push({ name: 'idea', params: { id: item.id }});
        }
    }    
}
</script>

<style>

</style>