<template>
<div v-masonry transition-duration="0.3s" item-selector=".item">
        <div v-masonry-tile v-for="item in this.items" v-bind:key="item.content.id" class="item mdl-cell mdl-cell--2-col mdl-cell--2-col-tablet mdl-cell--2-col-phone" >
            <item-card v-bind="item.content"></item-card>
        </div>
    </div>
<!--section class="android-more-section mdl-card mdl-shadow--4dp mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--8-col-phone">
    <div>
        <div class="android-section-title mdl-typography--title" style="float:left;">{{ galleryTitle }}</div>
        <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" id="btn2" style="float:right;">
            <i class="material-icons">more_vert</i>
        </button>
    </div>
    <ul class="mdl-menu mdl-js-menu mdl-menu--bottom-right" for="btn2">
        <li class="mdl-menu__item">Lorem</li>
        <li class="mdl-menu__item" disabled>Ipsum</li>
        <li class="mdl-menu__item">Dolor</li>
    </ul>
    <div class="android-card-container mdl-grid">
        <div v-for="item in this.items" v-bind:key="item.content.id" class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--2-col-phone" >
            <item-card v-bind="item.content"></item-card>
        </div>
    </div>
    <div class="mdl-card__actions mdl-card--border">
        <a href="#" class="mdl-button">READ MORE</a>
    </div>
</section-->    
</template>
<script>


    import ItemCard from '@/components/item/ItemCard.vue'
    export default {
        name : "ItemGallery",
        props : [
            'galleryTitle', 'items'             
        ],
        components : {
            'item-card' : ItemCard
        },
        /*data : function() {
            return {
                items: this.$attrs
            }
            
        },*/
        methods: {
            displayDetails (id) {
                this.$eventBus.$emit('popup', id);
            },
            saveToCache () {
                localStorage.setItem('cats', JSON.stringify(pictures));
            }
        },
        mounted : function() {
            if (typeof this.$redrawVueMasonry === 'function') {
        this.$redrawVueMasonry()
      }
        }
    }
</script>
<style>
</style>
