<template>
    <div class="item-blog">
        <div class="mdl-card__media mdl-color-text--grey-50">
            <h3>{{content.title}}</h3>
        </div>
        <div class="mdl-color-text--grey-700 mdl-card__supporting-text meta">
            <div class="minilogo"></div>
            <div>
                <strong>속도광박사</strong>
                <span>2일 전</span>
            </div>
            <div class="mdl-section-spacer"></div>

            <i class="material-icons md-30 red icons-pulse" role="presentation">favorite</i>425 
            <i class="material-icons md-30 md-dark icons-pulse" role="presentation">bookmarks</i>425 
<!--
            <div class="meta__favorites">
            425 <i class="material-icons" role="presentation">favorite</i>
            </div>
            <div>
                <i class="material-icons" role="presentation">bookmark</i>
            </div>
            <div>
                <i class="material-icons" role="presentation">share</i>
            </div>
            -->
        </div>
        <div class="mdl-card__media">
            <img class="article-image" v-bind:src=imageUrl @click="showSlide" border="0" alt/>
        </div>
        <div class="mdl-color-text--grey-700 mdl-card__supporting-text">
            <p>
            레고 블록 30개정도로 세계 최고의 경주용 차를 만들어보세요.
            </p>
            <p>
            쉽게 따라할 수 있습니다. 친구들이 다부러워할 거예요. 
            </p>
        </div>
    </div>    
</template>
<script>
import IdeaGuideModal from '@/components/modals/IdeaGuideModal'
var mime = require('mime-to-extensions');
export default {
    name:'ItemDetail',
    components : {
        IdeaGuideModal
    },
    props: [
        "id"
    ],
    data : function() {
    return {
      content : {}
    }},
    mounted : function() {
        this.fetchData();
    },
    watch: {
        // 라우터 객체를 감시하고 있다가 fetchData() 함수를 호출한다 
        '$route': 'fetchData'
    },
    computed: {
        imageUrl() {
        if( this.content.id === '' ) {
            return "";
        }
        let contentId = this.content.id;
        let image = this.content.mediaUri;
        let ext   = mime.extension(this.content.mediaType);
        return `/static/manual/${contentId}/${image}_low.${ext}`;
        }
    },
    methods : {
        fetchData() {
            let contentId = this.id;
            let self = this;
            this.$api
            .get(`/contents/manual/${contentId}`)
            .then(response => {
                
                self.content = response.data;
                this.$Spinner.end();
            })
            .catch(error => {
                console.log(error)
            })
            .finally(() => console.log('finally'))
        
        },
        showSlide() {
            this.$modal.show("idea-guide", {
                contentId: this.id
            })
        }
    }
}
</script>
<style>

.article-image {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
}

.item-blog .meta {
  box-sizing: border-box;
  padding: 16px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: auto;
  width: 100%;
}

.item-blog .meta > .material-icons {
  font-size: 2em;
  cursor: pointer;
  margin-left: 12px;
}
.item-blog .mdl-card .meta.meta--fill {
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.item-blog .meta > *:first-child {
  margin-right: 16px;
}
.item-blog .meta > * {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mdl-section-spacer {
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}
</style>
