<template>
    <div class="android-more-section item_posts mdl-card mdl-shadow--4dp mdl-cell mdl-cell--12-col">
        <item-detail :id="id"></item-detail>
        <item-comment :id="id"></item-comment>
        
        <div class="tries">
            <carousel :perPageCustom="[[400, 1], [450, 2], [800, 4]]" :mouse-drag="true" :navigationEnabled="false" :paginationEnabled="true" style="width:100%:height:100px;">
                <slide v-for="item in tries" v-bind:key="item.id">
                    <div class="mdl-card__media">
                        <img :src="item.url" class="thumbnail" v-on:click="gotoProduct(id)" style="width:100%;height:200px;object-fit:cover;"/>
                    </div>
                </slide>        
            </carousel>
            <div class="mdl-card__actions mdl-card--border">
                <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent">
                READ MORE
                <i class="material-icons" role="presentation">arrow_forward</i>
                <span class="mdl-button__ripple-container"><span class="mdl-ripple is-animating"></span></span>
                </a>
            </div>   
        </div>
    </div>
</template>
<script>
import ItemDetail from '@/components/item/ItemDetail'
import ItemComment from '@/components/item/ItemComment'
import ItemCard from '@/components/item/ItemCard'

export default {
    name:'ItemPost',
    components : {
        'item-detail' : ItemDetail,
        'item-comment' : ItemComment,
        'item-card' : ItemCard,
    },
    props : [
     'id' 
    ],
    data : function() {
        return {
            
            tries : [
                {id:1,title:'more-from-1', url:'/static/images/more-from-2.jpg', comment: 'aaa'},
                {id:2,title:'more-from-2', url:'/static/images/more-from-1.jpg', comment: 'aaa'},
                {id:3,title:'more-from-3', url:'/static/images/more-from-4.jpg', comment: 'aaa'},
                {id:4,title:'more-from-4', url:'/static/images/more-from-3.jpg', comment: 'aaa'},
                {id:5,title:'more-from-1', url:'/static/images/more-from-2.jpg', comment: 'aaa'},
                {id:6,title:'more-from-2', url:'/static/images/more-from-1.jpg', comment: 'aaa'},
                {id:7,title:'more-from-3', url:'/static/images/more-from-4.jpg', comment: 'aaa'},
                {id:8,title:'more-from-4', url:'/static/images/more-from-3.jpg', comment: 'aaa'},
            ]
        };
    },
    created : function() {
        this.fetchData();
    },
    watch: {
        // 라우터 객체를 감시하고 있다가 fetchData() 함수를 호출한다 
        '$route': 'fetchData'
    },
    methods : {
        fetchData() {
            //alert(this.$route.params.id);
        }
    }
}
</script>
<style>
.tries {
    padding-top: 32px;
}
.mdl-more {
    margin: 12px 15px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    color: white;
    font-weight: 500;
}
</style>