<template>
<div class="mdl-card mdl-shadow--3dp" style="width: 100%;">
    <div class="mdl-card__media outer-box">
        <vue-friendly-iframe :src="imageUrl" style="width:100%"></vue-friendly-iframe>
        <!--img :src="imageUrl" class="thumbnail" v-on:click="gotoIdea()"/-->
        <div class="inner-box" v-on:click="gotoIdea()">
            <p>This is the overlay!</p>
        </div>
    </div>
    <div class="mdl-avatar">
        <img class="avatar" src="/static/user/1006.jpeg"/>
        <div class="avatar-title">
            <span>{{content.author}}</span><span>{{content.postDate}}</span>
        </div>
    </div>    
    <h6 class="mdl-card__title mdl-color-text--grey-700">
        {{content.title}}
    </h6>
    <div class="mdl-color-text--grey-700 mdl-card__supporting-text" style="width:100%;text-align:right;">
        
        <i class="material-icons md-20 red icons-pulse" role="presentation">favorite</i>425 
        <i class="material-icons md-20 md-dark icons-pulse" role="presentation">bookmarks</i>425 
    </div> 
</div>
</template>
<script>
    export default {
        name : "ItemCard",
        props : ['item'],
        data: function () {
            return {
                content: this.$attrs
            }
        },
        computed: {
            imageUrl() {
                if( this.content.id === '' ) {
                    return "";
                }
                let contentId = this.content.id;
                let image = this.content.mediaUri;
                let ext   = 'jpeg';
                return "https://www.youtube.com/embed/LYobhI6etl0";
                //return `/static/manual/${contentId}/${image}_low.${ext}`;
            }
        },
        methods: {
            gotoIdea() {
                this.$router.push({ name: 'idea', params: { id: this.content.id }});
            }
        }
    }
</script>
<style> 
iframe {
    width:100%;
}

.outer-box {

  /*width: 300px;

  height: 194px;
*/
  display: block;

  position: relative;

}

/* line 9, ../sass/style.scss 

.outer-box img {

  width: 300px;

  height: auto;

}
*/
/* line 14, ../sass/style.scss */

.outer-box .inner-box {

  background: #FD8698;

  height: 100%;

  width: 100%;

  opacity: 0;

  top: 0;

  left: 0;

  position: absolute;

  padding: 0;

  transition: opacity .5s;

}

/* line 25, ../sass/style.scss */

.outer-box .inner-box p {

  color: #fff;

  line-height: 150px;

  font-family: 'arial';

  text-align: center;

}

/* line 34, ../sass/style.scss */

.outer-box:hover .inner-box {

  opacity: .9;

  transition: opacity .5s;

}
</style>