<template>
    <div class="mdl-color-text--primary-contrast comments">
        <form>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <textarea rows=1 class="mdl-textfield__input" id="comment"></textarea>
                <label for="comment" class="mdl-textfield__label">글 달기</label>
            </div>
            <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
                <i class="material-icons" role="presentation">check</i><span class="visuallyhidden">add comment</span>
            </button>
        </form>
        <div class="comment mdl-color-text--grey-700">
            <header class="comment__header">
                <img src="/static/user/1006.jpeg" class="comment__avatar" />
                <div class="comment__author">
                    <strong>비행사</strong>
                </div>
                <div>
                    <span>2일전</span>
                </div>
            </header>
            <div class="comment__text">
                쉽지는 않네요. ㅠ.ㅠ 전 포기했어요.
            </div>
        </div>
        <div class="comment mdl-color-text--grey-700">
            <header class="comment__header">
                <img src="/static/user/1006.jpeg" class="comment__avatar" />
                <div class="comment__author">
                    <strong>비행사</strong>
                </div>
                <div>
                    <span>2일전</span>
                </div>
            </header>
            <div class="comment__text">
                쉽지는 않네요. ㅠ.ㅠ 전 포기했어요.
            </div>
        </div>
        <div class="mdl-card__actions mdl-card--border">
            <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent">
            READ MORE
            <i class="material-icons" role="presentation">arrow_forward</i>
            <span class="mdl-button__ripple-container"><span class="mdl-ripple is-animating"></span></span>
            </a>
        </div>  
    </div> 
</template>
<script>
export default {
    name:'ItemComment'
}
</script>
<style>


.comments {
  background-color: #EEE;
  padding: 10px;  
  box-sizing: border-box;
}
.comments > form {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 16px;
}

.comments > form .mdl-textfield {
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-right: 16px;
  color: rgb(97, 97, 97);
}
/* Workaround for Firefox.
 * User agent stylesheet kept overwriting the font in FF only.
 */
.comments > form .mdl-textfield .mdl-textfield__input {
  font-family: 'Roboto', 'Helvetica', sans-serif;
}
.comments > form .mdl-textfield input,
.comments > form .mdl-textfield textarea {
  resize: none;
}
.comments > form button {
  margin-top: 20px;
  background-color: rgba(0, 0, 0, 0.24);
  color: white;
}
.comments .comment {
  padding-top: 32px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
.comments .comment > .comment__header {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 16px;
}
.comments .comment > .comment__header > .comment__avatar {
  width: 48px;
  height: 48px;
  object-fit: cover;
  border-radius: 48px;
  margin-right: 16px;
}
.comments .comment > .comment__header > .comment__author {
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
.comments .comment > .comment__text {
  line-height: 1.5em;
}
.comments .comment > .comment__actions {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.8em;
  margin-top: 16px;
}
.comments .comment > .comment__actions button {
  margin-right: 16px;
  color: rgba(0, 0, 0, 0.24);
}
.comments .comment > .comment__answers {
  padding-top: 32px;
  padding-left: 48px;
}

</style>