<template>
    <main class="mdl-page" style="margin:0 auto;width:1400px;">
        <!--a name="top"></a>
        <promotion></promotion-->
        <item-gallery galleryTitle="Recent" :items="data" style="padding-bottom:0px;"></item-gallery>
        <steam-footer></steam-footer>
    </main>
</template>

<script>
import Promote from '@/components/common/Promote'
import ItemGallery from '@/components/item/ItemGallery'
import Footer from '@/components/common/Footer'

export default {
    name : 'Home',
    components : {
        'promotion' : Promote,
        'item-gallery' : ItemGallery,
        'steam-footer': Footer
    },
    data : function() {
        return {data:[]};
    },
    mounted : function() {
        //{"content":[{"content":{"id":"4ace4fb7-aa12-4f0f-8c01
        //"pageable":{"sort":{"sorted":false,"unsorted":true},
        //  "offset":0,"pageSize":20,"pageNumber":0,"paged":true,"unpaged":false},
        //"totalPages":1,"totalElements":6,"last":true,"number":0,"size":20,"sort":{"sorted":false,"unsorted":true},"first":true,"numberOfElements":6}
        let self = this;
        this.$api
            .get(`/contents/manual?type=recent&page=0&size=20`)
            .then(response => {
                self.data = response.data.content;
                self.$Spinner.end();
            })
            .catch(error => {
                console.log(error)
            })
    }
}

</script>
<style>

</style>
