<template>
    <main class="item_posts mdl-page mdl-grid">
        <div class="mdl-page mdl-cell mdl-cell--8-col mdl-cell--12-col-tablet mdl-cell--12-col-phone" >
            <item-post v-bind:id="id"></item-post>
        </div>    

        <div class="mdl-page mdl-cell mdl-cell--4-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
            <item-list :items="data"></item-list>
        </div>
    </main>    
</template>
<script>
import ItemPost from '@/components/item/ItemPost.vue'
import ItemHGallery from '@/components/item/ItemHGallery.vue'
import Footer from '@/components/common/Footer.vue'

export default {
    name:'ProductDetail',
    components : {
        'item-post' : ItemPost,
        'item-list' : ItemHGallery,
        'steam-footer' : Footer
    },
    data : function() {
        return {data:[]};
    },
    props: [
        'id'
    ],
    created : function() {
        console.log(this.id)
        this.fetchData();
    },
    watch: {
        // 라우터 객체를 감시하고 있다가 fetchData() 함수를 호출한다 
        '$route': 'fetchData'
    },
    methods : {
        fetchData() {
            let self = this;
            this.$api
            .get(`/contents/manual?type=recent&page=0&size=20`)
            .then(response => {
                self.data = response.data.content;
                self.$Spinner.end();
            })
            .catch(error => {
                console.log(error)
            })
        }
    }
}
</script>
<style>
.item_posts {
    overflow-y:auto;
}

/* pc.. 에서 브라우저 크기.. */
@media (min-width: 840px) {
.item_posts {
    display: -webkit-flex;
    overflow-y: unset;
}
.mdl-card{
    overflow-y: auto;
}
}

</style>
