<template>
    <main class="mdl-page mdl-layout__content">
        <div class="mdl-layout__tab-panel is-active" id="overview">
          <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
            <div class="mdl-card__supporting-text mdl-grid mdl-grid--no-spacing">
              <h4 class="mdl-cell mdl-cell--12-col">기본 정보</h4>
            </div>
            <header class="section__play-btn">
              <img id="imageBox" v-bind:src=imageUrl class="img-cover mdl-color--teal-100" style="display: inline-block;"/>
              <i id="selectIcon" class="material-icons md-dark md-24" v-on:click='selectFile("#imageControl")'>cloud_upload</i>

            </header>
            <div class="mdl-card mdl-cell mdl-cell--8-col-desktop mdl-cell--4-col-tablet mdl-cell--3-col-phone">
              <!-- form name="basic"-->  
              <div class="mdl-cell mdl-cell--12-col mdl-grid">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input id="title" name="title" class="mdl-textfield__input" v-model="content.title"/>
                    <label class="mdl-textfield__label">제목...</label>
                </div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                  <select id="type" name="type" v-model="content.type" class="mdl-textfield__input" >
                    <option value="Model">모델</option>
                    <option value="Code">코딩</option>
                  </select>
                  <label class="mdl-textfield__label" for="type">모델, 코딩</label>
                </div>
                
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label ">
                    <input id="level" name="level" class="mdl-textfield__input" v-model="content.level"/>
                    <label class="mdl-textfield__label">난이도...</label>
                </div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input id="blend" name="blend" class="mdl-textfield__input" v-model="content.blend"/>
                    <label class="mdl-textfield__label">레고....</label>
                </div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input id="hashTags" name="hashTags" class="mdl-textfield__input" v-model="content.hashTags"/>
                    <label class="mdl-textfield__label">#...</label>
                </div>
                <input type="file" id="imageControl" name="imageFile" 
                    @change="showImage($event.target.name, $event.target.files)"
                    accept="image/*" class="input-file"/>
              </div>
              <div class="mdl-card__actions">
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" @click="saveContent">저장</button>
              </div>
              <!--/form-->
            </div>
          </section>
          <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
            <div class="mdl-card mdl-cell mdl-cell--12-col">
              <div class="mdl-card__supporting-text mdl-grid mdl-grid--no-spacing">
                <h4 class="mdl-cell mdl-cell--12-col">조립 이미지</h4>
              </div>  
              <div class="mdl-cell mdl-cell--12-col">
                
                <div class="page-container mdl-grid" v-for="(page, index) in pages" v-if="page.status != 'D'" v-bind:key="page.name">
                  <div class="mdl-color--primary" style="height:fit-content;">
                    <img :src=pageUrl(page) class="img-responsive img-thumbnail">
                  </div>
                  <div class="mdl-cell mdl-cell--8-col-desktop mdl-cell--4-col-tablet mdl-cell--3-col-phone">
                    <div class="page-btn mdl-color-text--grey-700 mdl-card__supporting-text meta">
                      <div><i role="presentation" class="material-icons md-dark md-24" @click="moveUp(index)">arrow_upward</i> 
                      <span class="visuallyhidden">arrow_upward</span></div> 
                      <div><i role="presentation" class="material-icons md-dark md-24" @click="moveDown(index)">arrow_downward</i> 
                      <span class="visuallyhidden">arrow_downward</span></div> 
                      <div><i role="presentation" class="material-icons md-dark md-24" @click="deleteItem(index)">delete</i> 
                      <span class="visuallyhidden">delete</span></div>
                    </div>
                    <div class="mdl-textfield mdl-js-textfield" style="width:100%;">
                      <textarea class="mdl-textfield__input" type="text" rows="2" v-model="page.description"></textarea>
                      <label class="mdl-textfield__label" for="sample5">Text lines..a</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="mdl-card__actions">
                <form id="pages" enctype="multipart/form-data" novalidate>
                  <input type="file" id="fileControl" name="content" :disabled="isSaving" 
                    @change="uploadFile($event.target.name, $event.target.files)"
                    accept="image/*,application/pdf" class="input-file"/>
                  <p v-if="isInitial">
                    업로드할 파일을 선택해주세요
                  </p>
                  <p v-if="isSaving">
                    파일 업로딩 중입니다.
                  </p>
                </form>
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" @click='selectFile("#fileControl")'>
                  <i role="presentation" class="material-icons md-dark md-24">cloud_upload</i>파일 업로드
                </button>
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" @click="saveContentPages">저장</button>
              </div>
            </div>
          </section>
        </div>
    </main>
</template>
<script>
import * as axios from 'axios';
var mime = require('mime-to-extensions');

const STATUS_INITIAL = 0, STATUS_SAVING = 1, STATUS_SUCCESS = 2, STATUS_FAILED = 3;

let pictureData = {};
// 이미지 형식 검사
var isImage = function(files) {
  for (var inx = 0; inx < files.length; inx++) {
    if (!/^image\//.test(files[inx].type)) {
      return false;
    }
  }

  return true;
}

Array.prototype.swapItems = function(a, b){
  if( b < 0 || b == this.length ) {
    return this;
  }
  this[a] = this.splice(b, 1, this[a])[0];
  return this;
}

export default {
  name : 'ContentEdit',
  components : {
  },
  props : [
     'contentId' 
  ],
  data : function() {
    return {
      content : {
        id:'',
        title:'',
        level:'',
        type:'',
        mediaUri:'',
        mediaType:'',
        blend:'',
        author:'',
        hashTags:''
      },       
      pages :[],     
      uploadError: '',
      currentStatus: STATUS_INITIAL
    }
  },
  computed: {
    isInitial() {
      return this.currentStatus === STATUS_INITIAL;
    },
    isSaving() {
      return this.currentStatus === STATUS_SAVING;
    },
    isSuccess() {
      return this.currentStatus === STATUS_SUCCESS;
    },
    isFailed() {
      return this.currentStatus === STATUS_FAILED;
    },
    imageUrl() {
      if( this.content.id === '' ) {
        return "";
      }
      let contentId = this.content.id;
      let image = this.content.mediaUri;
      let ext   = mime.extension(this.content.mediaType);
      return `/static/manual/${contentId}/${image}_low.${ext}`;
    }
  },
  mounted() {
    if( this.contentId ) {
      this.getContentInfo(this.contentId);
    }
  },
  methods : {

    getContentInfo(contentId) {
      this.$api
      .get(`/contents/manual/${contentId}/details`)
      .then(response => {
          this.content = response.data;
          this.$Spinner.end();
      })
      .catch(error => {
        console.log(error)
      })
      .finally(() => console.log('finally'))
      //pages 정보를 조회함
      fetch(`/static/manual/${contentId}/pages.json`)
      .then(r => r.json())
      .then(json => {
        this.pages = json
      })
    },
    //파일 선택
    selectFile(ctrl) {
      var event = new MouseEvent('click', {
          view: window,
          bubbles: true,
          cancelable: true
      });
      let fctrl = document.querySelector(ctrl);	
      fctrl.dispatchEvent(event);
    },
    //대표 이미지 보이기
    showImage(fileName, files) {
      if(files.length === 0 || !isImage(files) ) {
        alert('It`s possible to upload only image file.');
        return;
      }
      
      var reader = new FileReader();
      reader.readAsDataURL(files[0]);
      reader.filename = files[0].name;
      
      let imageBox = document.querySelector("#imageBox");

      reader.onload = function(result) {
        let dataURL = result.target.result;
        let blobBin = atob(dataURL.split(',')[1]);
    		let array = [];

    		for (var i = 0; i < blobBin.length; i++) {
    			array.push(blobBin.charCodeAt(i));
    		}

    		let blob = new Blob([ new Uint8Array(array) ], {
    			type : 'image/jpg'
    		});

        pictureData = {};
        pictureData.filename = 'main';
        pictureData.file = blob;
        imageBox.setAttribute("src", dataURL);
      }
    },
    //pdf나 image 파일 올리기
    uploadFile(fieldName, files) {
      // handle file changes
      let formData = new FormData(document.forms['pages']);
      // save it
      this.currentStatus = STATUS_SAVING;
      let self = this;
      let contentId = this.content.id;
      this.$api
        .post(`/contents/manual/${contentId}/upload`, formData)
        .then((response) => {
          let data = response.data;
          Array.prototype.push.apply(self.pages, data);
          self.saveContentPages();
        })
        .catch(err => {
          
          self.uploadError = err.response;
          self.currentStatus = STATUS_FAILED;
          this.$Spinner.end();
        });
    },
    //메인 페이지 저장
    saveContent() {
      const formData = new FormData();

      formData.append('id', this.content.id);
      formData.append('title', this.content.title);
      formData.append('blend', this.content.blend);
      formData.append('level', this.content.level);
      formData.append('type' , this.content.type);
      formData.append('hashTags', this.content.hashTags);
      formData.append('image' , pictureData.file);
      let self = this;
      this.$api
        .post('/contents/manual', formData)
        .then((response)=>{
          if( response.data ) {
            self.content = response.data;
          } 
          self.$Spinner.end();
        })
        .catch(error => {
          console.log(error);
          if( error.response ) {
            let response = error.response;
            self.uploadError = (response.data)? response.data.message:reponse;
          }
          self.currentStatus = STATUS_FAILED;
        });
    },
    saveContentPages() {
      
      if( this.content.id == null) {
        alert('first save this content');
        return;
      }
      let self = this;   
      const contentId = this.content.id;
      this.$api
        .post(`/contents/manual/${contentId}/pages`,self.pages)
        .then((response)=>{
          //self.getContentInfo(self.content.id);
          self.pages = response.data;
          self.$Spinner.end();
        })
        .catch(error => {
          console.log(error);
        })
    },
    pageUrl(page) {
      let base = this.content.id;
      let ext  = mime.extension(page.mediaType);
      return `/static/manual/${base}/${page.mediaUri}_low.gif`
    },
    moveUp(index) {
      this.pages.swapItems(index, index-1);
    },
    moveDown(index) {
      this.pages.swapItems(index, index+1);
    },
    deleteItem(index) {
      if( typeof this.pages[index].status == 'undefined') {
        return;
      }

      if( this.pages[index].status == 'C' ) {
        this.pages.splice(index, 1);
      } else {
        this.pages[index].status = 'D';
      }
    }
  }
}

</script>
<style>

main > .mdl-layout__tab-panel {
    padding: 8px;
    padding-top: 48px;
}

section:not(:last-of-type) {
    position: relative;
    margin-bottom: 48px;
}

section.section--center {
    max-width: 950px;
}
section > header {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    background-color:rgba(0, 0, 0, 0);
}
.section--center  {
    display: flex;
    align-items: center;
    justify-content: content;
}

.section--center .mdl-card {
    height: auto;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

section .mdl-card__supporting-text + .mdl-card__actions {
    border-top: 1px solid rgba(0, 0, 0, 0.12);
    margin: 0;
    padding: 4px 40px;
    color: inherit;
}
section > .section__play-btn {
    min-height: 240px;
}

.page-container {
  align-items:center;
}
.page-btn {
    display: flex;
    justify-content: flex-end;
}

section.section--center > button {
    position: absolute;
    z-index: 99;
    top: 8px;
    right: 8px;
}
.img-cover {
  width:200px;
  height:200px;
  object-fit: cover;
}

.img-cover img {
  width:200px;
  height:200px;
  object-fit:cover;
}
.img-thumbnail {
  width:150px;
  height:150px;
  object-fit: cover;
}
input[type="file"] {
		display: none;
}

</style>