<template>
    <main class="mdl-page">
        <div  class="mdl-cell mdl-cell--12-col">
            <span class="mdl-chip" v-for="tag in this.tags" v-bind:key="tag.id" style="margin: 0px 10px 10px;">
                
                <span class="mdl-chip__text" style="font-size: 20px;">{{ tag.name }}</span>
                <!--
                <button type="button" class="mdl-chip__action"><i class="material-icons">cancel</i></button>
                -->
            </span>
            
        </div>
        <div class="mdl-cell mdl-cell--12-col">
            <item-list galleryTitle="Recommend" :items="data"></item-list>
        </div>
    </main>        
</template>

<script>
import ItemGallery from '@/components/item/ItemGallery';
import Footer from '@/components/common/Footer.vue'

export default {
    name:'RecommendPage',
    components : {
        'item-list' : ItemGallery,
        'steam-footer' : Footer
    },
    data : function() {
        return {
            tags : [
                { id: 1, name:'Lego'},
                { id: 2, name:'자동차'},
                { id: 3, name:'경주용 자동차'},
                { id: 4, name:'레고 장난감'},
                { id: 5, name:'장난감'},
                { id: 6, name:'블록'},
                { id: 7, name:'빠른차'},
                { id: 8, name:'붕붕'},
                { id: 9, name:'카'},
                { id: 10, name:'세상에서 가장 빠른 자동차'},
                
            ],
            data : []};
    },
    created : function() {
        this.fetchData();
    },
    methods : {
        fetchData() {
            //alert(this.$route.params.id);

            let self = this;
            this.$api
            .get(`/contents/manual?type=recommend&page=0&size=20`)
            .then(response => {
                self.data = response.data.content;
                self.$Spinner.end();
            })
            .catch(error => {
                console.log(error)
            })

        }
    }
}
</script>

<style>

</style>
