<template>
      <div class="android-header mdl-layout__header mdl-layout__header--waterfall">
        <div class="mdl-layout__header-row">
          <!-- Add spacer, to align navigation to the right in desktop -->
          <div class="android-header-spacer mdl-layout-spacer"></div>
          <div class="android-search-box mdl-textfield mdl-js-textfield mdl-textfield--expandable mdl-textfield--floating-label mdl-textfield--align-right mdl-textfield--full-width">
            <label class="mdl-button mdl-js-button mdl-button--icon" for="search-field">
              <i class="material-icons">search</i>
            </label>
            <div class="mdl-textfield__expandable-holder">
              <input class="mdl-textfield__input" type="text" id="search-field">
            </div>
          </div>
          <!-- Navigation -->
          <div class="android-navigation-container">
            <nav class="android-navigation mdl-navigation">
              
              <div v-if="currentUser != null" class="avatar-container">
                <img class="avatar" :src='currentUser.picture'><i class="avatar-label"><em>{{currentUser.name}}</em></i>
              </div>
              <div v-else>
                <a class="mdl-navigation__link mdl-typography--text-uppercase" v-on:click="goMenu('login')">로그인/마이페이지</a>
              </div>
              
              <a class="mdl-navigation__link mdl-typography--text-uppercase" v-on:click="callApi()">이벤트</a>
            </nav>
          </div>

          <button class="android-more-button mdl-button mdl-js-button mdl-button--icon" id="more-button">
            <i class="material-icons">more_vert</i>
          </button>
          <ul class="mdl-menu mdl-js-menu mdl-menu--bottom-right" for="more-button">
            <li class="mdl-menu__item" v-on:click="goMenu('login')">광고 등록</li>
            <li class="mdl-menu__item" v-on:click="goMenu('edit')">모델 등록</li>
          </ul>
        </div>
      </div>
</template>
<script>

import { mapGetters } from 'vuex'

export default {
    name: 'Header',
    methods: {
      goMenu(menu) {
        this.$router.push({name:menu});
      },
      callApi() {
        this.$http.get('/test');
      }
    },
    computed: {
      ...mapGetters({ currentUser: 'currentUser' })
    }
}
</script>
<style>
  .avatar-container {
    box-sizing: border-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-flow: wrap row;
    justify-content: flex-end;
    padding: 16px;
    height: auto;
	}
	
	.avatar {
    width: 50px;
    height: 50px;
    object-fit: cover;
    /*margin: 10px;*/
    border-radius: 50px;
    background-color: rgba(0, 0, 0, 0.1)
	}

  .avatar-label {
    font-size: 15px;
    font-weight: 200;
    line-height: 1;
    letter-spacing: .02em;
    color: rgba(0,0,0,.87);
    margin: auto;
  }
</style>