<template>
  <div class="promote-section mdl-typography--text-center">
    <carousel :per-page="1" :mouse-drag="true" :navigationEnabled="false" :paginationEnabled="true">
        <slide v-for="promotion in promotions" v-bind:key="promotion.image">
            <div class="promote-section  mdl-typography--text-center" v-bind:style='promotion.image'>
                <div class="logo-font android-slogan">{{ promotion.slogan }}</div>
                <div class="logo-font android-sub-slogan">{{ promotion.subSlogan }}</div>
            </div>
        </slide>        
    </carousel>
    <a href="#screens">
      <button class="fab mdl-button mdl-button--colored mdl-js-button mdl-button--fab mdl-js-ripple-effect">
        <i class="material-icons">expand_more</i>
      </button>
    </a>
  </div>
</template>
<script>
 
  export default {
    name: 'Promote',
    data : function() {
      return {
        promotions:[
            {   
                image:'background-image:url(/static/images/slide01.jpg);',
                slogan: 'be together. ',
                subSlogan: 'welcome to .... what do you want'
            },
            {
                image:'background-image:url(/static/images/slide02.png);',
                slogan: 'be yourself',
                subSlogan: 'do your thing. see what\'s going on.'
            }
        ]
      }
    },
    methods: {
    },
    created: function () {
      //this.cat = find(this.$root.cat, (cat) => cat['.key'] === this.$route.params.id)
    }
  }
</script>
<style>
.promote-section {
  position: relative;
  height: 400px;
  width: auto;
  background-color: #f3f3f3;
  background-size: cover;
}

.promote-section .fab {
  position: absolute;
  right: 10%;
  bottom: -26px;
  z-index: 3;
  background: #64ffda !important;
  color: black !important;
}


/**** Mobile layout */
@media (max-width: 900px) {
  .promote-section {
    height: 200px;
  }
  .android-slogan {
    padding-top: 15px;
  }
}

.VueCarousel-pagination {
  position: absolute;
  bottom:0;
}

</style>