<template>
<div id="model" v-once style="z-index:9999;">
    <!-- Next and previous buttons -->
        <a class="prev" @click="prevSlide()">&#10094;</a>
        <a class="next" @click="nextSlide()">&#10095;</a>
    <div class="slideshow-container">
        <div class="mdl-card__menu mdl-color-text--white mdl-typography--body-2-color-contrast" style="z-index: 99">
            <button data-action="close" class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect" title="Close" @click="close">
                <i class="material-icons">close</i>
            </button>
        </div>
         
        <div class="mySlides fade" v-for="(page, index) in pages" v-bind:key="page.mediaUri">
            <div class="numbertext">{{index}} / {{pages.length}}</div>
            <pinch-image :src="'/static/manual/' + id + '/' + page.mediaUri + '.jpeg'" />
        </div>
    </div>
    <!--
    <div class="display-bottommiddle">
        <carousel :navigateTo="slideIndex" :perPageCustom="[[400, 5], [800, 10]]" :spacePadding="2" :paginationEnabled="false" :navigationEnabled="true" style="width:100%:height:100px;">
            <slide v-for="(item, index) in pages" v-bind:key="item.mediaUri"><!-- style="margin-right:2px;"
                <div style="width:100%;height:100%;border: 1px solid #000000;" @click="handleSlideClick(index)">
                    <img :style=thumb(100) /><!--:src="pageUrl(item)" 
                </div>
            </slide>
        </carousel>
    </div>
    -->
</div>
</template>
<script>
    function showSlides(n) {
        var i;  
        var slides = document.getElementsByClassName("mySlides");
        if (n > slides.length || n < 0 ) {
            return
        } 
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none"; 
        }
        
        slides[n].style.display = "block"; 
    }

    import PinchImage from '@/components/common/PinchImage'
    let isShow = false;

    export default {
        name : "slideshow",
        components : {
            'pinch-image' : PinchImage
        },
        props : ["contentId"],
        data : function() {
            return {
                id : this.contentId,
                title : "",
                slideIndex : 0,                
                pages : []
            }
        },
        computed : {
            pageUrl(page){
                //debugger;
                let contentId = this.contentId;
                //let ext  = mime.extension(page.mediaType);
                return `/static/manual/${contentId}/${page.mediaUri}_low.gif`
            }
        },
        
        watch: {
            // the callback will be called immediately after the start of the observation
            contentId: {
                immediate: true, 
                handler (val, oldVal) {
                    if( !val ) {return}
                    let id = val;
                    let self = this;
                    fetch(`/static/manual/${id}/pages.json`)
                    .then(r => r.json())
                    .then(json => {
                        self.pages = json
                    })
                    this.slideIndex = 1;   
                }
            },
            slideIndex: function(){
                showSlides(this.slideIndex);
            }
        },
        methods : {
            
            // Next/previous controls
            nextSlide: function() {
                if( this.slideIndex < this.pages.length )
                this.slideIndex++;
            },
            prevSlide: function() {
                if( this.slideIndex > 0 )
                    this.slideIndex--;
            },
            // Thumbnail image controls
            currentSlide: function(n) {
                this.slideIndex = n;
            },
            handleSlideClick : function(index) {
                this.slideIndex = index;
            },
            close : function() {
                this.$eventBus.$emit('close');
            },
            thumb : function(i) {
                let image =  `/static/manual/${contentId}/maual_sprite.jpeg`;
                return {
                    'background-image': `url(${image})`,
                    'background-repeat': 'no-repeat',
                    'background-size': 'cover',
                    'background-position': `0 -${i}px`
                }
            }
        }

    }
    
</script>
<style>
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  display: flex;
  width: 100%;
  height:80%;
  justify-content: center;
}

/* Hide the images by default */
.mySlides {
    display: none;
}
.mySlides img {
    left:50%;
    top:50%;
    margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  /*color: #f2f2f2;*/
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
  z-index:99;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.display-bottommiddle {
  width:100%;
  justify-content: center; 
  margin-top: 20px;
  display: -webkit-flex; /* Safari */
  display: flex;
  position: absolute;
  bottom : 0;
  
  background-color: #bbb;

  padding-left: 30px;
  padding-right: 30px;
}

</style>