<template>
  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header" style="overflow-y:hidden;margin:0;">
    <steam-header></steam-header>
    <div class="mdl-layout__content mdl-cell mdl-cell--12-col" style="display:flex;">
      <aside class="mdl-components__nav docs-text-styling mdl-shadow--4dp">
    
        <a href="#badges-section" class="mdl-components__link mdl-component badges">
          <div class="mdl-components__link-image"
              style="background-image: url('../assets/comp_badges.png')">
          </div>
          <span class="mdl-components__link-text">최근/인기</span>
        </a>
    
        <a href="#buttons-section" class="mdl-components__link mdl-component buttons">
          <div class="mdl-components__link-image"
              style="background-image: url('../assets/comp_buttons.png')">
          </div>
          <span class="mdl-components__link-text">추천</span>
        </a>

        <a href="#buttons-section" class="mdl-components__link mdl-component buttons">
          <div class="mdl-components__link-image"
              style="background-image: url('../assets/comp_buttons.png')">
          </div>
          <span class="mdl-components__link-text">저장한 작품</span>
        </a>

        <a href="#buttons-section" class="mdl-components__link mdl-component buttons">
          <div class="mdl-components__link-image"
              style="background-image: url('../assets/comp_buttons.png')">
          </div>
          <span class="mdl-components__link-text">내 보드</span>
        </a>

        <a href="#buttons-section" class="mdl-components__link mdl-component buttons">
          <div class="mdl-components__link-image"
              style="background-image: url('../assets/comp_buttons.png')">
          </div>
          <span class="mdl-components__link-text">작품 보기</span>
        </a>

      </aside>
      <transition :name="transitionName" 
          mode="out-in"
          @beforeLeave="beforeLeave"
          @enter="enter">
        <router-view></router-view>
      </transition>
    </div>
    <!--
    <div ref="lightbox" class="lightbox" v-show="isShow" style="display:block;"> 
      <slide-show v-show='isShow' v-bind:contentId="contentId"></slide-show>
    </div>
    -->
    <idea-guide-modal />
    
    <vue-spinner></vue-spinner>
  </div>
</template>

<script>
import Header from '@/components/common/Header'
import SlideShow from '@/components/common/SlideShow'
import IdeaGuideModal from '@/components/modals/IdeaGuideModal'

const DEFAULT_TRANSITION = 'fade';

export default {
  name: 'app',
  components : { 
    'steam-header': Header,
    'slide-show': SlideShow,
    'idea-guide-modal': IdeaGuideModal 
  },
  data : function() {
    return {
        isShow: false,
        contentId : "ef34b2ac-8d06-4a0b-91e2-31b93b769c59",
        currentRoute: location.hash,
        transitionName: DEFAULT_TRANSITION,
        prevHeight: 0,
    }
  },
  created : function() {
    self = this;
    
    this.$eventBus.$on('popup', function(value){
      self.isShow = true
      self.contentId = value
    });

    this.$eventBus.$on('close', function() {
      self.isShow = false;
    });

    /*this.$router.beforeEach((to, from, next) => {
      let transitionName = to.meta.transitionName || from.meta.transitionName;
      if (transitionName === 'slide') {
        const toDepth = to.path.split('/').length;
        const fromDepth = from.path.split('/').length;
        transitionName = toDepth < fromDepth ? 'slide-right' : 'slide-left';
      }

      this.transitionName = transitionName || DEFAULT_TRANSITION;

      next();
    });
    */
  },
  computed : {
  },
  mounted : function() {
  },
  methods: {
    beforeLeave(element) {
      this.prevHeight = getComputedStyle(element).height;
    },
    enter(element) {
      const { height } = getComputedStyle(element);

      element.style.height = this.prevHeight;

      setTimeout(() => {
        element.style.height = height;
      });
    },
    afterEnter(element) {
      element.style.height = 'auto';
    },
  }

}
</script>

<style>

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}

header {
  margin: 0;
  height: 56px;
  padding: 0 16px 0 24px;
  background-color: #35495E;
  color: #ffffff;
}

header span {
  display: block;
  position: relative;
  font-size: 20px;
  line-height: 1;
  letter-spacing: .02em;
  font-weight: 400;
  box-sizing: border-box;
  padding-top: 16px;
}

.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  width: 100%;
  height: 100%;
  padding: 2px;
  background: rgba(0, 0, 0, 0.8);
  box-sizing: border-box;
  font-size: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
}


.mdl-card__supporting-text {
  padding: 0 5px 5px;
  font-size: small;
}

h5 {
  margin: 24px 0 0px;
}
.wrap {
  padding: 50px 5.208333333333333%;
  /*50px / 960px */
  
}

.mdl-page {
  /*margin-top: 40px;*/
  overflow-y: auto;
  display: inline-block;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    
}

.mdl-page::-webkit-scrollbar {
    width: 5px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
.mdl-page::-webkit-scrollbar-thumb {
    background: #EEE;
}

.android-more-section {
  padding : 20px 0 20px;
}
.slide-left-enter-active,
.slide-left-leave-active,
.slide-right-enter-active,
.slide-right-leave-active {
  transition-duration: 0.5s;
  transition-property: height, opacity, transform;
  transition-timing-function: cubic-bezier(0.55, 0, 0.1, 1);
  overflow: hidden;
}

.slide-left-enter,
.slide-right-leave-active {
  opacity: 0;
  transform: translate(2em, 0);
}

.slide-left-leave-active,
.slide-right-enter {
  opacity: 0;
  transform: translate(-2em, 0);
}

/*mobile */
@media (max-width: 850px) {
  .mdl-layout__content main {
  padding:0 0 110px;
  }
}
/* Rules for sizing the icon. */
.material-icons {
  cursor:pointer;
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-30 { font-size: 30px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }
.material-icons-new {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-size: contain;
    vertical-align: middle;
}
.material-icons.red { color: red; }
.icon-white {
    webkit-filter: contrast(4) invert(1);
    -moz-filter: contrast(4) invert(1);
    -o-filter: contrast(4) invert(1);
    -ms-filter: contrast(4) invert(1);
    filter: contrast(4) invert(1);
}

.mdl-card__media .thumbnail {
    /*min-width:400px;*/
    object-fit: cover;
    /*height: 200px;*/
}

.mdl-avatar {
    position: absolute;
    bottom: 110px;
    z-index: 3;
    left: 5px;
    display: flex;
    width:100%;
}

.avatar-title {
    display:flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
    font-size:small;
    padding-right: 15px;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }

  50% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }

  100% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }

  50% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }

  100% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}

.icons-pulse:active {
  -webkit-animation: pulse 2s linear infinite;
  animation: pulse 2s linear infinite;
}

</style>
